
@mixin btn ($colorString: 'default'){
	$color-btn-default : rgba(255,255,255, 1);
	$color-btn-cancel : rgba(143, 138, 154,1);
	$color-btn-red: rgba(212, 89, 64, 1);
	$color-font-light: rgba(255,255,255,1);
	$color-font-dark: rgba(70,70,70,1);
	$color-font: null;

	$color: null;
	@if $colorString == 'default' {
		$color: $color-btn-default;
		$color-font: $color-font-dark;
	} @else if $colorString == 'cancel'  {
		$color: $color-btn-cancel;
		$color-font: $color-font-light;
	} @else if $colorString == 'red'  {
		$color: $color-btn-red;
		$color-font: $color-font-light;
	} @else {
		@error('please provide correct direction [up,right,bottom,left]');
	}



	outline: none;
	cursor: pointer;
	border: 1px solid darken($color, 15%);
	box-sizing: border-box;
	margin: rem(6px) 0 rem(10px) 0;
	padding: 0.5rem;

	font-size: rem(14px);
	line-height: 1rem;
	//text-shadow: 0px 0px 4px rgba(0,0,0,0.5);
	box-shadow: 0 rem(5px) 0 darken($color, 15%);
	background-color: $color;
	color: $color-font;
	position: relative;
	transition: all 0.2s;
	span {
		transition: all 0.2s;
		display: block;
	}

	&:hover{
		box-shadow:  0 rem(4px) 0 darken($color, 15%);
		transform: translateY(rem(1px));

		span {
			//difference box-shadows size between normal and hover state
			//transform: translate3d(0,rem(1px),0);

		}

	}

	&:active{
		box-shadow:  0 rem(1px) 0 darken($color, 10%),
					inset 0 0 rem(9px) darken($color, 11%);
		//top: rem(4px);
		transform: translateY(rem(4px));
		span {
			//difference box-shadows size between normal and active state
			//transform: translate3d(0,rem(4px),0);

		}
	}
}

.twe-btn {
	$root: &;


	&--default {
		@include btn('default');
	}

	&--red {
		@include btn('red');
	}

	&--cancel {
		@include btn('cancel');
	}


}