

.twe-container{
	$color-gray-0: rgba(250,250,250,1);
	$color-gray-1: darken($color-gray-0, 5%);
	$color-gray-2: darken($color-gray-0, 10%);

	$color-red-0: rgba(255,51,102,0.1);
	$color-red-1: darken($color-red-0, 5%);
	$color-red-2: darken($color-red-0, 10%);
	$color-red-3: darken($color-red-0, 20%);

	$color-blue-0: rgba( 190,190, 255, 1);

	$color-green-0: rgba(158,207,108,1);

	$color-twe-col: rgba(217, 229, 234, 1);

	$color-col: rgba(139, 167, 179, 1);

	position: relative;
	font-family: arial;
	box-shadow: 0 0 1px rgba(0,0,0,0.2);

	.clearfix:after {
		content:"";
		display:block;
		clear:both;
	}

	.twe-html{
		background-color: #fff;
		border: 1px solid $color-gray-2;
		border-bottom: 0;
		box-sizing: border-box;

		&__input {
			width: calc(100% - #{rem(20px)});
			box-sizing: border-box;
			margin: rem(10px);
		}
	}

	.twe-menu {
		min-height: 50px;
		width:100%;
		background-color: #fff;
		border: 1px solid $color-gray-2;
		border-bottom: 0;
		box-sizing: border-box;
		padding: rem(10px);
		box-shadow: 0 rem(2px) rem(2px) rgba(0,0,0,0.2);

		&__button {
			background-color: $color-gray-2;
		}
		&__select {
			padding: rem(10px);
			top: rem(2px);
			position: relative;
		}
	}

	.twe {
		border: 1px solid $color-gray-2;
		width: 100%;
		height: 500px;
		position: relative;
		box-sizing: border-box;

		&__absolute {
			position: absolute;
			width:100%;
			height:100%;
			overflow:auto;
		}

		&__bg {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			height:100%;

			&__col {
				background-color: rgba($color-col, 0.2);
				width: 8%;

			}
		}

		&__drag-y {
			width:100%;
			height:15px;
			background-color: #fff;
			align-self: flex-end;
			cursor: ns-resize;
			box-shadow: 0 rem(1px) rem(4px) rgba(0,0,0,0.2);
		}
	}

	.bs-section {
		$margin: 12px;
		$padding: 2px;
		width: 100%;
		min-height: 150px;
		margin-top: $margin;
		margin-bottom: $margin;
		float:left;
		@extend .clearfix;

		border: 1px solid black;
		&.js-active {
			border: 1px dotted rgba(0,0,0, 1);

			box-shadow: 0 0 3px rgba(0,0,0,1);
		}
	}

	.bs-container,
	.bs-container-fluid{
		$margin: 12px;
		$padding: 2px;
		background-color: rgba($color-blue-0, 0.2);
		width: 100%;
		min-height: 150px;
		margin-top: $margin;
		margin-bottom: $margin;
		padding: $padding 0 $padding 0;
		box-sizing: border-box;
		float: left;
		border: 1px solid rgba($color-blue-0, 1);
		@extend .clearfix;
		&.js-active {
			border: 2px dotted rgba($color-blue-0, 1);

			box-shadow: 0 0 3px $color-blue-0;
		}
	}

	.bs-row {
		$margin: 12px;
		$padding: 3px;
		box-sizing: border-box;
		border: 2px dashed $color-red-2;
		margin: $margin 0 $margin 0;
		padding: 3px 0 3px 3px;
		width: 100%;
		min-height: 60px;
		float: left;

		@extend .clearfix;
		&.js-active {
			border-color: rgba($color-red-2, 0.5);
			box-shadow: 0 0 3px $color-red-2;
		}
	}

	.twe-col {
		$margin: 12px;
		$padding: 2px;
		min-height: 150px;
		margin-top: $margin;
		margin-bottom: $margin;
		padding: $padding 0 $padding 0;
		box-sizing: border-box;
		box-shadow: 0 0 3px rgba(0,0,0,0.2);
		background-color: rgba($color-twe-col, 0.7);
		@extend .clearfix;

		&.js-active {
			border: 1px solid $color-twe-col;
			box-shadow: 0 0 3px rgba(0,0,0,0.3);
			background-color: rgba($color-twe-col, 0.9);
		}
	}



	%col {

		width: 100%;

		float:left;



	}

	$sizes: xs, sm, md, lg, xl;

	$cols: 1 8.3%, 2 16.6%, 3 24.9%, 4 33.2%, 5 41.5%, 6 49.8%, 7 58.1%, 8 66.4%, 9 74.7%, 10 83%, 11  91.3%, 12 100%;

	@each $size in $sizes {
		.grid-#{$size}{
			@each $col in $cols {
				$key: nth($col, 1);
				$val: nth($col, 2);
				.bs-col-#{$size}-#{$key}{
					@extend %col;
					width: $val;
				}
			}
		}
	}

	$colOffsets: 1 8.3%, 2 16.6%, 3 24.9%, 4 33.2%, 5 41.5%, 6 49.8%, 7 58.1%, 8 66.4%, 9 74.7%, 10 83%, 11  91.3%;
	@each $size in $sizes {
		.grid-#{$size}{
			@each $co in $colOffsets {
				$key: nth($co, 1);
				$val: nth($co, 2);
				.bs-offset-#{$size}-#{$key} {
					margin-left: $val;
				}
			}
		}
	}




	.tw-cm {
		position: absolute;
		z-index: 10;
		background-color: #fff;
		box-shadow: 0 0 4px rgba(0,0,0,0.2);
		display: none;

		&__list {//ul
			margin: 0;
			padding: 0;
			list-style: none;

			&__item {//li
				padding: rem(3px);
				border-bottom: 1px solid rgba(0,0,0,0.1);
				font-size: rem(12px);
				&__link {//a
					display: block;
					padding: rem(3px);
					text-decoration: none;
					color: rgba(60,60,60,1);

					&:hover{
						text-decoration: underline;
					}
				}
			}
		}

	}

	.twe-content {
		width: calc(100% - #{rem(20px)});
		background-color: rgba(255,255,255,0.4);
		margin: rem(10px);
		box-sizing: border-box;
		position: relative;
		padding: rem(3px);
        float: left;

        @extend .clearfix;
		&.js-active {
			background-color: rgba(255,255,255,0.7);
			border: 1px solid $color-green-0;
			box-shadow: 0 0 3px pink;

		}
	}

}
