.twe-modal {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);

	display: flex;
	flex-direction: column;
	justify-content: center;
	&__header {

	}

	&__container {
		max-width: rem(600px);
		width: 100%;
		background-color: #fff;
		margin: auto;
		padding: rem(16px);
		display: flex;
		flex-direction: column;
		max-height: 80%;

	}

	&__content {
		overflow-y: auto;
	}

	&__footer {

	}
}


.twe-form {
	/*
		thanks to: https://css-tricks.com/float-labels-css/
	*/
	&__col {
		&--6{
			float: left;
			width:50%;
		}
	}

	&__row {
		position: relative;
		overflow: hidden;
		margin: 1rem 0 1rem 0;

		label {
			top: 0;
			bottom: 0;
			left: 0;
			width: 100%;

			transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
			position: absolute;
			color: #999;
			padding: 7px 6px;


		}

		input {
			width: 100%;
			padding: 0.8rem;
			font-size: 1rem;
			/*position relative is needed in combo with z-index*/
			position: relative;
			z-index: 1;

			&:focus {
				padding: 0.5rem 0.8rem 1.1rem 0.8rem;
			}

			&:valid{
				background-color: #fff;
			}
		}
		input:focus + label {
			background: #f06d06;
			color: white;
			font-size: 70%;
			padding: 1px 6px;
			z-index: 2;
			text-transform: uppercase;
			margin-top: 2rem;
		}

	}

}