@function rem($size) {
	$remSize: $size / 16px;
	@return #{$remSize}rem;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

$basic-font-size: 16px;

body {
	font-size: rem(18px);
	color: rgba(80,80,80,1);
}

@import 'editor';
@import 'twe-modal';
@import 'buttons';